@import "../fonts/fonts";

$eerie-black: #222222ff;
$white: #ffffffff;
$lapis-lazuli: #1c5d99ff;
$cadet-blue: #639fabff;
$light-steel-blue: #bbcde5ff;

* {
  margin: 0;
  padding: 0;
}

em {
  font-family: font("medium");
}
