@font-face {
  font-family: "m-light";
  src: url("./Montserrat-Light.ttf");
}

@font-face {
  font-family: "m-regular";
  src: url("./Montserrat-Regular.ttf");
}

@font-face {
  font-family: "m-medium";
  src: url("./Montserrat-Medium.ttf");
}

@font-face {
  font-family: "m-bold";
  src: url("./Montserrat-Bold.ttf");
}

$theme-fonts: (
  "light": "m-light",
  "regular": "m-regular",
  "medium": "m-medium",
  "bold": "m-bold",
);

@function font($face) {
  @return map-get($theme-fonts, $face);
}
